/* =============================================
   TURISMO TP — precios.css
   Estilos de la página de Precios
   ============================================= */

/* Los colores y variables globales están en global.css */

.precios-page {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
}

.intro-precios {
    text-align: center;
    margin-bottom: 40px;
}

.tabla-wrapper {
    overflow-x: auto;
    background: var(--blanco);
    border-radius: 15px;
    box-shadow: var(--sombra);
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
}

th {
    background-color: var(--verde-unju);
    color: var(--blanco);
    padding: 20px 10px;
    font-size: 0.95rem;
}

td {
    padding: 18px 10px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    font-size: 0.9rem;
}

.fila-precio {
    transition: background-color 0.2s ease;
}

.fila-precio:hover {
    background-color: #f1f8e9;
    cursor: default;
    font-weight: bold;
    color: var(--verde-unju)
}

/* TOOLTIPS */
.tooltip-container {
    background: var(--verde-claro);
    color: white;
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    cursor: help;
    position: relative;
    margin-left: 5px;
    line-height: 18px;
}

.tooltip-container::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 140%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-texto-principal);
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.tooltip-container:hover::after {
    opacity: 1;
    visibility: visible;
}

.precios-page {
    max-width: 1100px;
    margin: 60px auto;
    padding: 20px;
    min-height: 70vh;
}